.imageList{
    .imageListItem{
        width: 100%;
        height: 96px;
        margin-bottom: 10px;
    }
    .itemImg{
        width: 100%;
        max-height: 100%;
        border-radius: 15px;
    }
}
.detail{
    padding: 0 10px;
}